body            { font-family: sans-serif; background: #eee; }
h1, h2              { color: #955252; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 18pt; border-bottom: 2px solid #eee; margin-bottom: 6px;}

a               { color: #545454; background-color: #eee;}
a               { padding: 4px; width: 10px; height: 10px; text-decoration:none;}
a:hover         { color: #eee; background-color: #BD6B6B;}

.leds           {height: 30px; padding-top: 5px;}
.led_board      {padding-top: 5px;}

.box            { margin: 2em auto; width: 35em; border: 2px solid #ccc;
                  padding: 0.8em; background: white; color: #545454}

.error          { background: #BD6B6B; padding: 5px; margin: 5px; color:#eee}

.button         {color: #545454; background-color: #eee; border: none;}
.button:hover   {color: #eee; background-color: #BD6B6B;}
